<html>
    <body>
        <div th:fragment="myheader" class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/surfboards" class="nav-link" aria-current="page">Доски для серфинга</a></li>
                    <li class="nav-item"><a href="/waxes" class="nav-link">Вакса</a></li>
                    <li class="nav-item"><a href="/leashes" class="nav-link">Лиши</a></li>
                    <li class="nav-item"><a href="/fins" class="nav-link">Плавники для серфа</a></li>
                    <li class="nav-item"><a href="/brands" class="nav-link">Бренд</a></li>
                </ul>
                <script type="text/javascript" th:src="@{/js/header.js}" src="../static/js/header.js"></script>
            </header>
        </div>
    </body>
</html>